*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}
.ball
{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #fff,inset 20px 0 60px #ee82ee, inset -20px 0  60px #0ff,inset 20px 0 300px #ee82ee,inset -20px 0 300px #0ff, 0 0 5px #fff, -10px 0 60px #ee82ee, 10px 0 60px #0ff;
    animation: loading 2s infinite;
}
@keyframes loading
{
    0%
    {
        transform: rotate(0);
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(100deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}